<div class="container">
    
<nav class="navbar navbar-dark">

    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Scholar WETU</a>
            <img src="../../assets/schol.png" style="max-height: 30px; ;margin-top: 10px;  border-radius: 50%;" alt="scholar"/>
           
        </div>

        <div class=" collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" (click)="onSelect('add') ">Add Students</a></li>
                <li><a href="#" (click)="onSelect('student') "> Students</a></li>
                <li><a href="#" (click)="onSelect('teacher') ">Teachers</a></li>
                <li><a href="#" (click)="onSelect('disc') ">Displinary </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"  dropdown>
                    <a href="#"   class="dropdown-toggle" role="button">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Details</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>    
</div>