
<div class="container" id="cont">
    <div>
        
    <div class="row" >
        <div class="col-xs-4">
           
                
             <div  class="panel panel-default" *ngFor="let scholar of scholars; let i=index">
                <!-- <div *ngIf="scholar.role=='teacher'"> -->
                <div class="panel-heading">
                    {{scholar.name}}
                   </div>
                   
                   <div class="row" id="studentschol">
                       <div class="col-xs-12">
                           <div class="pull-left">
                              
                               <h4 class="list-group-item-heading">Name :{{scholar.name}}</h4>
                               <p class="list-group-item-text">Email : {{scholar.email}}</p>
                               <p  style="color:red;"> Year : {{scholar.year}}</p>
                           </div>
                           <span class="pull-right">
                               <img alt='image2' src={{scholar.image}}
                                class="img-responsive" style="max-height: 50px;">
                           </span>
                       </div>
                   </div>
             </div>
            </div>    
        </div>
            </div> 
        </div>
        <br>
    <!-- </div> -->
 

 
